* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/*-----------------Body-----------------*/

/*body {
 height: 100vh;
 width: 100vw;
}*/
img {
  height: 50px;
  width: 50px;
}

main {
  display: flex;
}
/*----------------Header----------------*/

header {
  height: 80px;
  width: 100vw;
  padding: 10px;
  background-color: #1F1F3D;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: #FFFFFF;
  font-size: 2.2em;
  font-weight: 800;
}

span {
  color: #FFC30C;
}

.search {
  height: 90%;
  width: 30%;
  display: flex;
}

#search-img {
  height: 100%;
  width: 15%;
  padding: 3.5%;
  background-color: #C7D3D8;
  border: none;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

#search-input {
  height: 100%;
  width: 85%;
  padding-left: 10px;
  border: none;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

/*::placeholder {
  color: #5356A4;
}*/

/*-----------------Side-----------------*/

aside {
  min-height: 800px;
  width: 34%;
  margin: 0 auto;
  padding-top: 20px;
  background-color: #587A8A;
  border-right: 3px solid #3C6577;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-tasks {
  width: 100%;
}

.input-labels {
  text-align: left;
  /*justify-content: flex-start;*/
}

#title-input {
  height: 40px;
  width: 90%;
  margin: 0 auto;
  border: 2px solid #1F1F3D;
  border-radius: 3px;
}

.task {

}

.btns {
  height: 40px;
  width: 90%;
  color: #FFFFFF;
  margin: 20px auto;
  background-color: #1F1F3D;
  border: 2px solid #1F1F3D;
  border-radius: 3px; 
}

.filter-by-urgency {
  width: 100%;
  margin: 20px auto;
  border-top: 3px solid #3C6577;
}

/*----------------Section----------------*/

section {
  width: 66%;
}



/*-----------------Media-----------------*/